//font-family and font-size
$font:'Poppins', sans-serif;
$font-size-display-1: 6rem;
$font-size-Heading-1: 5rem;
$font-size-Heading-2: 2.5rem;
$font-size-Heading-3: 1.8rem;
$font-size-Heading-4: 1.6rem;
$font-size-Paragraph-primary: 1.4rem;
$font-size-Paragraph-secondary: 1.2rem;
//colors
$primary-color: #000;
$secondary-color: #0173EF;
$withe-color: #fff;
$primary-text-color: #000;
$secondary-text-color: #4A4A4A;
$support-color: #AA0CF8;

//parametros del bloque de secction home
@mixin sectionHome {
    margin: 0 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.6rem;
}
@mixin titleSectionHome {
    margin-top: 7.4rem;
    grid-column: 1/5;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__h2 {
        font-size: $font-size-Heading-2;
        font-weight: 600;
        color: $primary-text-color;
    }
    &__h3 {
        font-size: $font-size-Heading-4;
        font-weight: 400;
        color: $secondary-text-color;
    }
}
@mixin buttonSectionsHome {
    grid-column: 1/5;
    justify-self: center;
    width: 17.8rem;
    height: 4rem;
    background-color: $primary-color;
    color: $withe-color;
    border: none;
    border-radius: 1.2rem;
    margin-top: 6.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-family: $font;
    &__img {
        width: 1.8rem;
        height: 1.8rem;
    }
    &__p {
        font-size: $font-size-Paragraph-primary;
        font-weight: 400;
    }
}
@mixin boxBaseArticle {
    margin-top: 4.8rem;
    grid-column: 1/5;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin inputFormBase {
    padding-left: 3.1rem;
    width: 32.7rem;
    height: 5.7rem;
    border: 0.2rem solid #0000001a;
    border-radius: 1.2rem;
    font-family: $font;
    font-size: $font-size-Paragraph-primary;
    color: $secondary-text-color;
}
html {
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:$font ;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    display: none;
        
}
.animacion {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 0%;
      }
    
  }
  