@use 'global';
//first section home
.section-home-1 {
    @include global.sectionHome;
    height: 100vh;
    &__h1 {
        grid-column: 1/4;
        padding-top: 4.4rem;
        font-size: global.$font-size-Heading-1;
        font-weight: 600;
        line-height: 5rem;
    }
    &__menu-hamburguesa {
        grid-column: 4/5;
        margin-top: 6.3rem;
        justify-self: center;
        width: 2.8rem;
        height: 2.7rem;
    }
    &__div-1 {
        grid-column: 1/5;
        margin-top: 2.3rem;
        gap: 0.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__img {
            width: 5rem;
            height: 0.1rem;
        }
        &__h2 {
            font-size: global.$font-size-Heading-3;
            font-weight: 500;
            color: global.$support-color;
        }
    }
    &__p {
        grid-column: 1/5;
        margin-top: 2.3rem;
        width: 30.4rem;
        font-size: global.$font-size-Paragraph-primary;
        font-weight: 400;
    }
    &__img-cover {
        grid-column: 2/4;
        justify-self: center;
        margin-top: 3.7rem;
        width: 16.3rem;
        height: 21.0rem;
    }
    &__button {
        grid-column: 1/5;
        justify-self: center;
        width: 29.8rem;
        height: 4rem;
        margin-top: 3.7rem;
        border-radius: 1rem;
        border: none;
        background-color: global.$primary-color;
        color: global.$withe-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        &__img {
            width: 2.4rem;
            height: 2.4rem;
        }
        &__p {
            font-size: global.$font-size-Paragraph-primary;
            font-weight: 400;
        }

    }
    &__div-2 {
        grid-column: 2/4;
        margin-top: 2.3rem;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        &__p {
            font-size: global.$font-size-Paragraph-primary;
            font-weight: 500;
            color: global.$secondary-text-color;
        }
        &__img {
            width: 1.6rem;
            height: 1.6rem;
        }
    } 
}
//second section about me
.section-home-about {
    @include global.sectionHome;
    &__div-title {
        @include global.titleSectionHome; 
    }
    &__img-profile {
        grid-column: 1/5;
        justify-self: center;
        width: 26.7rem;
        height: 22.9rem;
        margin-top: 4.8rem;
        border-radius: 2.2rem;
        border: 1rem solid #0000001a;
        object-fit: cover;
    }
    &__div-information {
        grid-column: 1/5;
        justify-self: center;
        margin-top: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.9rem;
        &__section-experience {
            width: 12.4rem;
            height: 10rem;
            border: 0.1rem solid #0000001a;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__img--icon1 {
                width: 3.1rem;
                height: 3.1rem;
            }
            &__img--icon2 {
                width: 2.9rem;
                height: 2.9rem;
            }
            &__title {
                font-size: global.$font-size-Paragraph-primary;
                font-weight: 500;
                color: global.$primary-text-color;
            }
            &__info {
                font-size: global.$font-size-Paragraph-secondary;
                font-weight: 500;
                color: global.$secondary-text-color;
            }
        }
    }
    &__p--about-me {
        grid-column: 1/5;
        justify-self: center;
        margin: 3.2rem 3rem 0 3rem;
        text-align: justify;
        font-size: global.$font-size-Paragraph-primary;
        font-weight: 400;
        color: global.$primary-text-color;
    }
    &__button {
        @include global.buttonSectionsHome;
    }
}
//Third section skills
.section-home-skills {
    @include global.sectionHome;
    &__div-title {
        @include global.titleSectionHome;
    }
    &__div-root {
        grid-column: 1/5;
        display: grid;
        margin-top: 4.8rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.8rem;
        justify-self: center;
        &__skill {
            margin-top: 1.3rem;
            width: 15.7rem;
            height: 12.7rem;
            border: 0.2rem solid #0000001a;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__img {
                width: 5.4rem;
                height: 5.4rem;
            }
            &__p-h1 {
                margin-top: 0.9rem;
                font-size: global.$font-size-Paragraph-primary;
                font-weight: 500;
                color: global.$primary-text-color;
            }
            &__p-h2 {
                font-size: global.$font-size-Paragraph-secondary;
                font-weight: 400;
                color: global.$secondary-text-color;
            }
        }
    }
    &__button {
        @include global.buttonSectionsHome;
    }
}
//fourth section service
.section-home-service {
    @include global.sectionHome;
    &__div-title {
        @include global.titleSectionHome;
    }
    &__div-service {
        @include global.boxBaseArticle;
        gap: 3.2rem;
        &__article {
            width: 24.5rem;
            height: 24rem;
            padding-top: 7rem;
            padding-left: 4.5rem;
            border: 0.2rem solid #0000001a;
            border-radius: 2.7rem;
            &__img {
                width: 3rem;
                height: 2.8rem;
            }
            &__h2 {
                width: 9.5rem;
                margin-top: 2.2rem;
                font-size: global.$font-size-Heading-3;
                font-weight: 600;
            }
            &__div {
                margin-top: 1.6rem;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                gap: 0.6rem;
                &__p {
                    font-size: global.$font-size-Paragraph-primary;
                    font-weight: 500;
                    color: global.$secondary-text-color;
                }
                &__img {
                    width: 1.9rem;
                    height: 2rem;
                }
            }
        }

    }
}
//fifth section contact
.section-home-contact {
    @include global.sectionHome;
    &__div-title {
        @include global.titleSectionHome;
    }
    &__article-whatsapp {
        width: 30.7rem;
        height: 15.1rem;
        border: 0.2rem solid #0000001a;
        border-radius: 1.1rem;
        @include global.boxBaseArticle;
        &__img {
            width: 5.7rem;
            height: 5.7rem;
            padding-top: 2.1rem;
        }
        &__h2 {
            padding-top: 0.7rem;
            font-size: global.$font-size-Heading-4;
            font-weight: 500;
            color: global.$primary-text-color;
        }
        &__p {
            padding-top: 0.5rem;
            font-size: global.$font-size-Paragraph-secondary;
            font-weight: 500;
            color: global.$secondary-text-color;   
        }
        &__div {
            padding-top: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.9rem;
            &__p {
                font-size: global.$font-size-Paragraph-primary;
                font-weight: 500;
                color: global.$primary-text-color;
            }
            &__img {
                width: 1.9rem;
                height: 2rem;
            }
        }
    }
    &__h3 {
        margin-top: 3.2rem;
        grid-column: 1/5;
        justify-self: center;
        font-size: global.$font-size-Heading-3;
        font-weight: 500;
        color: global.$primary-text-color;
    }
    &__form {
        margin-top: 3.2rem;
        grid-column: 1/5;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.9rem;
        &__input-name {
            @include global.inputFormBase;
        }
        &__input-correo {
            @include global.inputFormBase;
        } 
        &__textarea {
            @include global.inputFormBase;
            height: 17.7rem;
            padding-top: 1.8rem;
        }
        &__button {
            @include global.buttonSectionsHome;
            margin-top: 3.2rem;
        }
    }

}

//footer mobil
.footer-mobil {
    @include global.sectionHome;
    margin-top: 4.5rem;
    &__h2 {
        grid-column: 1/5;
        justify-self: center;
        font-size: global.$font-size-Heading-2;
        font-weight: 500;
    }
    &__h2--secon-color {
        color: global.$secondary-color;
    }
    &__div-nav {
        grid-column: 1/5;
        justify-self: center;
        margin-top: 1.8rem;
        &__ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.8rem;
            list-style: none;
        }
        &__ul li {
            font-size: global.$font-size-Paragraph-primary;
            font-weight: 400;
            color: global.$primary-text-color;
        }
    }
    &__div-social {
        grid-column: 1/5;
        justify-self: center;
        margin-top: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
    }
    &__div-social img {
        width: 3.2rem;
        height: 3.2rem;
    }
    &__p-copy {
        grid-column: 1/5;
        justify-self: center;
        margin-top: 1.8rem;
        margin-bottom: 4.5rem;
        font-size: global.$font-size-Paragraph-primary;
        font-weight: 500;
        color: global.$primary-text-color;
    }
}